<% if current_user == @post.user %>
  <%= link_to( "Edit", edit_post_path(@post) ) %> |
  <%= link_to( "Delete", @post, method: :delete ) %>
<% end%>

<div>
  <%= image_tag @post.image.url, class:"img-fluid" %>
  <p>
    <%= @post.user.email %><br>
    <%= @post.content %>
  </p>
</div>

<ul>
  <% @post.comments.each do |comment| %>
  <li>
    <b><%= comment.user.email %></b> : <%= comment.content %>
    <% if current_user == comment.user %>
    - <%= link_to "Delete", [@post, comment], method: :delete %>
    <% end %>
  </li>
  <% end %>
</ul>

<% if user_signed_in? %>
<div>
  <%= form_for([@post, @comment]) do |f| %>
    <!--<input type="file" name="image"><br>-->
    Comment: <%= f.text_field :content %>
    <!--<input type="text" name="content"><br>-->
    <%= f.submit "Save" %>
  <% end %>
</div>  
<% end %>